test-ci-generator:
  image: python:3.7-alpine
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  cache:
    paths:
      - .cache/pip
      - ci-generator/venv/
  before_script:
    - cd ci-generator
    - python -V
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
  script:
    - coverage run -m unittest tests/test*.py
    - coverage report
    - coverage html
  coverage: '/^TOTAL.*\s+(\d+\%)$/'
  artifacts:
    paths:
      - ci-generator/htmlcov

image: docker:latest

variables:
  IMAGE_LABELS: >
    --label vcs-url=$CI_PROJECT_URL
    --label com.gitlab.ci.builder=$GITLAB_USER_EMAIL
    --label com.gitlab.ci.pipeline=$CI_PROJECT_URL/pipelines/$CI_PIPELINE_ID
    --label com.gitlab.ci.ref=$CI_BUILD_REF_NAME
    --label com.gitlab.ci.build=$CI_PROJECT_URL/builds/$CI_BUILD_ID
    --label com.gableroux.unity3d.version=$VERSION
    --label com.gableroux.unity3d.build=$BUILD
    --label com.gableroux.unity3d.tag=$TAG
    --label com.gableroux.unity3d.download_url=$DOWNLOAD_URL
    --label com.gableroux.unity3d.sha1=$SHA1
    --label com.gableroux.unity3d.release_notes=$RELEASE_NOTES
    --label com.gableroux.unity3d.release_url=$RELEASE_URL
  IMAGE_ARGUMENTS: >
    --build-arg DOWNLOAD_URL=$DOWNLOAD_URL
    --build-arg COMPONENTS=$COMPONENTS
    --build-arg SHA1=$SHA1

services:
  - docker:dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

.build-master: &build-master
  script:
    - env
    - echo docker build -f ${DOCKERFILE_NAME}.Dockerfile $IMAGE_LABELS --label build-date=`date -Iseconds` $IMAGE_ARGUMENTS --pull -t "$CI_REGISTRY_IMAGE:$TAG" .
    - docker build -f ${DOCKERFILE_NAME}.Dockerfile $IMAGE_LABELS --label build-date=`date -Iseconds` $IMAGE_ARGUMENTS --pull -t "$CI_REGISTRY_IMAGE:$TAG" .
    - docker push "$CI_REGISTRY_IMAGE:$TAG"
    - |
      if [ -n "$LATEST" ]; then
        echo "Marking $CI_REGISTRY_IMAGE:$TAG as latest image"
        docker tag "$CI_REGISTRY_IMAGE:$TAG" "$CI_REGISTRY_IMAGE:latest"
        docker push "$CI_REGISTRY_IMAGE:latest"
      fi
  retry: 2
  only:
    - master

.build: &build
  script:
    - env
    - echo docker build -f ${DOCKERFILE_NAME}.Dockerfile $IMAGE_LABELS --label build-date=`date -Iseconds` $IMAGE_ARGUMENTS --pull -t "$CI_REGISTRY_IMAGE:$TAG-$CI_COMMIT_REF_SLUG" .
    - docker build -f ${DOCKERFILE_NAME}.Dockerfile $IMAGE_LABELS --label build-date=`date -Iseconds` $IMAGE_ARGUMENTS --pull -t "$CI_REGISTRY_IMAGE:$TAG-$CI_COMMIT_REF_SLUG" .
    - docker push "$CI_REGISTRY_IMAGE:$TAG-$CI_COMMIT_REF_SLUG"
  retry: 2
  except:
    - master

{%- if not versions.items() %}

nothing_to_build:
  script:
    echo 'All versions are already built, skipping'
{% else %}
{% for version_key, version in versions.items() %}
# main build for {{version_key}}
.unity_{{version.underscore}}: &unity_{{version.underscore}}
  variables:
    DOCKERFILE_NAME: {{version.dockerfile_name}}
    VERSION: {{version.version}}
    BUILD: {{version.build}}
    TAG: {{version_key}}
    {%- if not version.legacy %}
    COMPONENTS: {{version.base_components}}
    {%- endif %}
    DOWNLOAD_URL: {{version.download_url}}
    {%- if version.sha1 %}
    SHA1: {{version.sha1}}
    {%- endif %}
    {%- if version.release_notes %}
    RELEASE_NOTES: {{version.release_notes}}
    {%- endif %}
    {%- if version.release_url %}
    RELEASE_URL: {{version.release_url}}
    {%- endif %}
    {%- if version.latest %}
    LATEST: 1
    {%- endif %}

build unity_{{version.underscore}}:
  <<: *unity_{{version.underscore}}
  <<: *build

build-master unity_{{version.underscore}}:
  <<: *unity_{{version.underscore}}
  <<: *build-master

{%- if not version.legacy %}
{% for platform_key, platform in platforms.items() %}
# platform specific for {{version_key}}: {{platform_key}}
.unity_{{version.underscore}}-{{platform_key}}: &unity_{{version.underscore}}-{{platform_key}}
  variables:
    DOCKERFILE_NAME: {{version.platforms[platform_key].dockerfile_name}}
    VERSION: {{version.version}}
    BUILD: {{version.build}}
    TAG: {{version_key}}-{{platform_key}}
    COMPONENTS: {{version.platforms[platform_key].components}}
    DOWNLOAD_URL: {{version.download_url}}
    {%- if version.sha1 %}
    SHA1: {{version.sha1}}
    {%- endif %}
    {%- if version.release_notes %}
    RELEASE_NOTES: {{version.release_notes}}
    {%- endif %}
    {%- if version.release_url %}
    RELEASE_URL: {{version.release_url}}
    {%- endif %}
    {%- if platform_key == 'android' and version.android_sdk_version %}
    ANDROID_SDK_VERSION: {{version.android_sdk_version}}
    {%- endif %}

build unity_{{version.underscore}}-{{platform_key}}:
  <<: *unity_{{version.underscore}}-{{platform_key}}
  <<: *build

build-master unity_{{version.underscore}}-{{platform_key}}:
  <<: *unity_{{version.underscore}}-{{platform_key}}
  <<: *build-master
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
